@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* share styles */
.display-flex{
    display: flex;
}
.dark2{
    font-size: 1rem;
    color:#727272;
}
.bg-color{
    background-color:  rgb(255,144,14,10%);
}
.primary-btn{
    width:180px;
    height: 64px;
    padding: 20px 24px;
    font-size:1.25rem;
    background-color: #FF900E;
    color:white;
    border: none;
    border-radius: 8px;

}
.primary-clr{
    color:#FF900E;
}

/* header styles */


/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-links{
   
}
.nav-item{
    list-style-type: none;
    margin-right:30px;

}
.nav-item a{
    text-decoration: none;
    font-weight: 500;

}
.navbar,.banner{
    max-width: 1440px;
    margin:0 auto;
}

/* banner section */
.banner{

}
.banner-content{
    max-width: 862px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-title{
    font-weight:700;
    font-size: 4rem;

}
.banner-description{
   
margin-bottom: 32px;
}
.img-des .img{
    width: 100%;

}

/* main section here */
.team{
    margin-top:85px;
    align-items: center;

}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;

}
.team-features{
    max-width: 537px;
    margin-left:73px;
    height: 360px;

}

.feature-head{
    font-size: 3rem;
}
.feature-desc{
    margin-top:24px;
}
.featu-btn{
    margin-top:32px;
}
.quick{
    color:#727272;
}
@media screen and (max-width:576px) {
    .navbar ,.nav-links{
        flex-direction: column;
    }
    .nav-item{
        margin-bottom: 20px;
    }
    
}